/******************
*OPĆENITA SVOJSTVA*
******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgba(202, 210, 172, 0.5) 0%,
    rgba(200, 219, 155, 1) 20%,
    rgba(207, 182, 231, 1) 80%,
    rgba(205, 192, 210, 0.5) 100%
  );

  min-height: 100vh;
  background-color: rgb(241, 235, 235);
  padding: 0 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

header {
  min-height: 10vh;
  grid-row: 1 / span 1;
}

main {
  grid-row: 2 / span 1;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 5vh;
  grid-row: 3 / span 1;
  position: relative;
  margin-top: auto;
}

section {
  border: 5px solid rgba(39, 2, 2, 0.4);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 1.5em;
  font-weight: 900;
}

h2 {
  padding: 0.25em 0.5em;
  text-align: center;
}

input {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px inset rgba(158, 158, 158, 0.7);
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.25em 0;
}

button {
  background-color: rgb(0, 0, 0, 0.1);
  font-size: 1em;
  font-weight: 800;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em;
}

.footerParagraph {
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************
*PRVI ZADATAK*
*************/
.prviZadatak {
  overflow: auto;
  margin: 1em 0;
  background-color: rgb(200, 219, 155);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.prviZadatak::before,
.drugiZadatak::before {
  width: 100px;
  height: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 2px;
  left: 10px;
}

.prviZadatak::before {
  content: "1. zadatak";
}

.forma1 {
  margin: 0 auto 1em;
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  margin: 0 auto;
}

.submitForm {
  align-self: center;
  border: 2px solid rgb(0, 82, 11);
  color: rgb(0, 82, 11);
}

.ispis {
  display: none;
  padding: 0 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-family: fantasy;
  font-size: 1.5em;
  line-height: 1.4;
}

/*js elementi*/
#continerIspisa {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#haiku,
#haiku2 {
  min-width: 250px;
  margin: auto;
  padding: 0.6em;
}

#haiku {
  color: rgba(165, 42, 42, 0.9);
}

#haiku2 {
  color: rgba(0, 0, 139, 0.9);
}

/*************
*DRUGI ZADATAK*
*************/

.drugiZadatak {
  background-color: rgb(207, 182, 231);
  padding: 1em 0;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.drugiZadatak::before {
  content: "2. zadatak";
}

.drugaForma {
  text-align: center;
  margin-bottom: 1em;
}

.clanoviBtn {
  border: 2px solid rgb(100, 1, 139);
  color: rgb(100, 1, 139);
}

.ispisDiv {
  min-width: 30%;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ispisDiv2 {
  display: inline-block;
}

.jedanIjedan {
  text-align: center;
  padding: 0.5em;
  font-weight: 650;
  color: rgb(71, 46, 36);
}

/*js elementi*/
ul {
  display: inline-block;
  padding: 0.5em 2em;
  font-weight: 700;
}

li {
  padding: 0.2em;
  list-style: none;
  text-align: center;
  font-weight: 600;
}
