* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

header {
  min-height: 10vh;
  grid-row: 1 / span 1;
  margin: 0 0 auto 0;
}

main {
  min-height: 80vh;
  grid-row: 2 / span 1;
  margin: auto 0;
}

footer {
  min-height: 5vh;
  grid-row: 3 / span 1;
  margin: auto 0 0 0;
  position: relative;
}

section {
  margin: 1em 0;
}

.footerParagraph {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/**/

/*************
*PRVI ZADATAK*
*************/
.prviZadatak {
  background-color: rgb(200, 219, 155);
  padding: 2em;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forma1 {
  margin: auto;
  flex-basis: 150px;
  flex-grow: 0;
}

aside {
  visibility: none;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .prviZadatak {
    height: 60vh;
  }

  .forma1 {
    height: 50px;
    margin-top: 0;
  }
  .ispis,
  #haiku,
  #haiku2 {
    font-size: 16px;
  }
}

/*@media only screen and (max-width: 550px) {
  #haiku,
  #haiku2 {
    font-size: 16px;
    margin: 0 auto;
  }
}*/

.ime,
.prezime,
.broj {
  padding: 0.5em;
  margin: 0.25em 0;
  border-radius: 5px;
}

.submitForm,
.clanoviBtn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

.ispis {
  display: block;
  width: 100%;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-family: fantasy;
  font-size: 1.5em;
  line-height: 1.8;
}

/*************
*DRUGI ZADATAK*
*************/

.drugiZadatak {
  background-color: rgb(207, 182, 231);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drugaForma {
  text-align: center;
  margin-bottom: 1em;
}

h2 {
  padding: 0 0.5em 0.25em 0.5em;
}

.clan {
  padding: 0.3em;
  margin: 0.4em;
  border-radius: 5px;
}

.ispisDiv {
  min-width: 30%;
  color: black;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: space-between;
}

ol {
  display: inline-block;
  visibility: hidden;
  padding: 0.5em 2em;
  /*border: 1px solid red;*/
}

li {
  padding: 0.2em;
}

.ispisDiv2 {
  display: inline-block;
  /*border: 1px solid green;*/
}

.jedanIjedan {
  padding: 0.25em 0.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
